// helpers
.bg-pink {
    background-color: $lightpink;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin: 0;
  }
  
  body {
    height: 100%;
    padding: 0;
    overflow: auto;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }

main {
    background: url(../assets/bg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0;
}

.site-container__mob {
    border: 5px solid #000;
    margin: 0 2rem;
    width: 90%;
    display: block;
    font-size: 2rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: $lightpink;
    @include media-query(tab) {
        display: none;
    }
}

.site-container {
    border: 5px solid #000;
    margin: 0 2rem;
    width: 100%;
    max-width: 715px;
    display: none;
    @include media-query(tab) {
        display: block;
    }
    @include media-query(desk) {
        max-width: 975px;
    }
    @include media-query(xl) {
        max-width: 1346px;
    }
}

header {
    .header-box {
        width: 50%;
        display: inline-block;
        letter-spacing: 4px;
        &:first-of-type {
            float: left;
        }
    }
    .header-name + hr,
    .header-title + hr {
        border: 5px;
        display: block;
        margin: 0;
        height: 20px;
    }
    .header-name,
    .header-title {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        margin: 0;
        @include media-query(desk) {
            font-size: 2.5rem;
        }
        @include media-query(xl) {
            font-size: 3rem;
        }
    }
    .header-name {
        background-color: $lightpink;
        color: $blue;
        & + hr {
            background-color: transparent;
        }
    }
    .header-title {
        background-color: $green;
        color: $lightpink;
        border-left: 20px solid $green;
        & + hr {
            background-color: $lightblue;
        }
    }
}

nav {
    background-color: $lightpink;
    width: 100%;
    display: block;
    padding: 2rem 2rem;
    margin-top: -2px;
    position: relative;
    float:left;
    @include media-query(desk) {
        width: 50%;
    }
    .nav-item {
        cursor: pointer;
        * {
            pointer-events: none;
        }
        &:hover {
            transform: rotate(5deg);
        }
    }
    .svg-text {
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        position: relative;
        height: 150px;
        @include media-query(desk) {
            height: 400px;
        }
        @include media-query(xl) {
            height: 500px;
        }

        li {
            display: inline-block;
            transition: all 250ms ease;
        }


        .self-photo {
            position: absolute;
            width: 100px;
            z-index: 99999;
            img {
                border-radius: 50%;
                border: 7px solid $darkorange;
                padding: 0;
                @include media-query(xl) {
                    border: 10px solid $darkorange;
                }
            }
            &.back {
                img {
                    padding: 1rem;
                }
                cursor: pointer;
            }
            @include media-query(xl) {
                width: 150px;
            }
        }
        .about-me {
            position: absolute;
            width: 125px;
            left: 36%;
            top: 0px;
            svg {
                width: 100%;
            }
            @include media-query(desk) {
                left: 22%;
                top: 40px;
                width: 140px;
            }
            @include media-query(xl) {
                width: 200px;
                left: 25%;
                top: 50px;
            }
        }
        .contact {
            position: absolute;
            width: 125px;
            left: 71%;
            top: -24px;
            svg {
                width: 100%;
            }
            @include media-query(desk) {
                left: 60%;
                top: 20px;
                width: 145px;
            }
            @include media-query(xl) {
                width: 200px;
                left: 60%;
                top: 20px;
            }
        }

        .resume {
            position: absolute;
            width: 75px;
            left: 57%;
            top: -15px;
            svg {
                width: 100%;
            }
            @include media-query(desk) {
                left: -4%;
                top: 122px;
            }
            @include media-query(xl) {
                width: 100px;
                left: 2%;
                top: 175px;
            }
        }

        .shape-triangle {
            position: absolute;
            width: 75px;
            right: -2%;
            top: -17px;
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 100px;
                right: -2%;
                top: -17px;
            }
        }

        .shape-squiggle {
            position: absolute;
            width: 100px;
            left: 22%;
            top: 0px;
            transform: rotate(-17deg);
            svg {
                width: 100%;
            }
            @include media-query(desk) {
                left: 22%;
                top: 175px;
            }
            @include media-query(xl) {
                width: 130px;
                left: 22%;
                top: 200px;
                transform: rotate(24deg);
            }
        }

        .skills {
            position: absolute;
            width: 115px;
            left: 27%;
            top: 90px;
            transform: rotate(24deg);
            overflow: visible;
            svg {
                width: 100%;
            }
            @include media-query(desk) {
                left: 36%;
                top: 250px;
                width: 140px;
            }
            @include media-query(xl) {
                width: 175px;
                left: 45%;
                top: 275px;
            }
        }

        .shape-redbow {
            position: absolute;
            width: 70px;
            left: 47%;
            top: 100px;
            transform: rotate(-17deg);
            transition: all 250ms ease;
            svg {
                width: 100%;
            }
            @include media-query(desk) {
                top: 150px;
                left: 54%;
                width: 95px;
            }
            @include media-query(xl) {
                width: 100px;
                left: 55%;
                top: 160px;
            }
        }

        .portfolio {
            position: absolute;
            width: 101px;
            left: 10%;
            top: 63px;
            transform: rotate(24deg);
            svg {
                width: 100%;
            }
            @include media-query(desk) {
                left: 2%;
                top: 305px;
                top: 250px;
                width: 115px;
            }
            @include media-query(xl) {
                width: 150px;
                left: 14%;
                top: 305px;
            }
        }

        .social {
            position: absolute;
            width: 125px;
            right: -2%;
            top: 86px;
            svg {
                width: 100%;
            }
            @include media-query(desk) {
                right: 5%;
            top: 395px;
                top: 340px;
                width: 140px;
            }
            @include media-query(xl) {
                width: 175px;
                top: 395px;
            }
        }

        .shape-hex {
            position: absolute;
            width: 100px;
            right: 18%;
            top: 65px;
            transform: rotate(24deg);
            svg {
                width: 100%;
            }
            @include media-query(desk) {
                right: -3%;
                top: 249px;
                top: 220px;
            }
            @include media-query(xl) {
                width: 130px;
                right: 5%;
                top: 230px;
            }
        }

        .shape3 {
            position: absolute;
            width: 113px;
            display:none;
            transform: rotate(24deg);
            svg {
                width: 100%;
            }
            @include media-query(desk) {
                display: inline-block;
                top: 330px;
                left: 22%;
            }
            @include media-query(xl) {
                width: 140px;
                left: 40%;
                top: 400px;
            }
        }
        
    }
}

.nav-curtain {
    position: absolute;
    height: 0%;
    display: block;
    background-color: $lightblue;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.curtain-down {
        animation: curtainDown 250ms 250ms forwards;
      }
    &.curtain-up {
        height: 100%;
        animation: curtainUp 250ms forwards;
    }

    .active-nav-item {
        opacity: 0;
        font-size: 3rem;
        letter-spacing: 5px;
        color: $white;
        text-shadow: 0px 0px 2px #000;
        text-transform: uppercase;
        &.is-active {
            animation: fadeIn 250ms ease forwards;
        }
        @include media-query(desk) {
            font-size: 3rem;
        }
        @include media-query(xl) {
            font-size: 5rem;
        }
    }
    
}

.about-me-1 {
    fill:#fecc3a;
}
.contact-1 { 
    fill:#c5b5e3;
}
.triangle-1 { 
    fill:#d2d058;
}
.resume-1{fill:#f59236;}
.shape2-1{fill:#81c26b;}
.skills-1{fill:#6baae3;}
.redbow-1{fill:#ec4c30;}
.portfolio-1{fill:#d2d058;}
.shape-hex-1{fill:#e9a8ca;}
.social-1 {fill:#ec4c30;}
.shape3-1{fill:#97ddc9;}

.content {
    width: 100%;
    display: inline-block;
    float: right;
    margin-top: -2px;
    @include media-query(desk) {
        width: 50%;
    }
    .content-container {
        height: 464px;
        background-color: #c3d7ea;
        padding: 1rem 2rem;
        overflow: hidden;
        @include media-query(xl) {
            height: 564px;
        }
    }

    .content-block {
        display: none;
        width: 100%;
        height: 100%;
        line-height: 1.4;
        a {
            color: inherit;
            border-bottom: 5px solid $darkpink;
        }

        &.is-active {
            display: inline-block;
            &[data-name="resume"] {
                margin: 16px 0;
            }
            &[data-name="home"] {
                display: flex;
                flex-direction: row;
                justify-content: center;
                img {
                    width: 80%;
                }
            }
        }

        &__headline {
            text-transform: uppercase;
            color: #81c26b;
            text-shadow: 0px 0px 2px black;
            font-size: 3.8rem;
            margin-top: 0;
            @include media-query(desk) {
                font-size: 3.2rem;
            }
            @include media-query(xl) {
                font-size: 4.5rem;
            }
        }
        .email,
        .phone,
        .address {
            font-size: 1.7rem;
            @include media-query(xl) {
                font-size: 2rem;
            }
            a {
                color: inherit;
                border-bottom: 5px solid $lightpink;
            }
        }
        .resume-btn {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 10px solid $lightblue;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: $lightblue;
            text-shadow: 0 0 2px black;
            @include media-query(xl) {
                width: 150px;
                height: 150px;
                font-size: 5rem;
            }
        }
        .resume-copy {
            font-size: 3rem;
            color: $lightblue;
            text-shadow: 0 0 2px black;
            text-align: center;
            text-transform: uppercase;
            margin-top: 4.1rem;
            @include media-query(xl) {
                font-size: 5rem;
                margin-top: 2.8rem;
            }
        }
    }
    .about-carousel {
        .owl-next,
        .owl-prev {
            span {
                display: none;
            }
            &:before {
                display: block;
                content: ' ';
                background-image: url('../assets/carousel-arrow-right.svg');
                background-size: 50px 50px;
                background-repeat: no-repeat;
                height: 50px;
                width: 50px;
            }
        }
        .owl-prev:before {
            display: block;
            content: ' ';
            background-image: url('../assets/carousel-arrow-left.svg');
            background-size: 50px 50px;
            background-repeat: no-repeat;
            height: 50px;
            width: 50px;
        }
        position: relative;
        height: 100%;
        &.owl-loaded {
            display: flex;
            justify-content: center;
            &.is-active {
                display: flex;
            }
        }
        .about-headline {
            font-size: 2.5rem;
            margin: 1rem 0;
            text-shadow: 0 0 2px #000;
            text-transform: uppercase;
            color: $darkpink;
            @include media-query(xl) {
                font-size: 3rem;
            }
        }
        .about-copy {
            margin-top: 0;
        }
        .about-img {
            width: 175px;
            border-radius: 50%;
            margin: 0 auto;
            @include media-query(xl) {
                width: 200px;
            }
            &.grow-img {
                transform: scale(2);
                z-index: 1000;
            }
        }
        .young-me {
            border: 10px solid $darkpink;
        }
        .seattle {
            background-color: $green;
            padding: 5px;
            border: 10px solid $blue;
        }
        .dog {
            border: 10px solid $red;
        }
        .building {
            border: 10px solid $blue;
        }
        .owl-item {
            li {
                text-align: center;
            }
            .about-copy {
                font-size: 1.5rem;
                @include media-query(xl) {
                    font-size: 2rem;
                }
            }
        }
        .owl-nav {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 20px;
            width: 250px;

            button:focus{outline:none !important;}

            .carousel-numbers {
                position: absolute;
                left: 82px;
                font-size: 2rem;
            }
        }
        .owl-next,
        .owl-prev {
            width: 50px;
        }
    }

    .portfolio {
        &-carousel__slide {
            position: relative;
            margin-top: 3rem;
            @include media-query(desk) {
                margin-top: 1rem;
            }
            &[data-work="email"] {
                width: 90%;
                margin: 3rem auto 0;
                @include media-query(desk) {
                    margin: 1rem auto 0
                }
            } 
            &[data-work="animations"] {
                overflow-y: scroll;
                height: 370px;
                text-align: center;
                margin-top: 1rem;
                width: 500px;
                margin: 0 auto;
                @include media-query(desk) {
                    margin-top: 1rem;
                    width: 100%;
                }

                .scroll-prompt {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    font-size: 2rem;
                    color: $lightpink;
                    animation: smokeTravel 8s linear infinite;
                }
            }
            a img {
                @include span(6);
                @include media-query(desk) {
                    float: none;
                    width: 100%;
                }
            }
        }
        &__work-overlay {
            position: relative;
            display: flex;
            align-items: center;
            @include span(6 last);
            background-color: $chartreuse;
            font-size: 1.25rem;
            padding: 0;
            height: 188px;
            text-align: center;
            transition: all 200ms ease-in-out;
            color: #000;
            @include media-query(desk) {
                font-size: 1.5rem;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0;
                width: 100%;
            }
            p {
                transition: all 100ms ease-in-out;
                margin: 0;
                opacity: 1;
                @include media-query(desk) {
                    opacity: 0;
                }
            }
            &.description-active {
                height: 115px;
                padding: 1rem;
                transition: all 200ms ease-in-out;
                font-size: 1.25rem;
                @include media-query(xl) {
                    font-size: 1.5rem;
                }
                p {
                    opacity: 1;
                    transition: all 200ms 100ms ease-in-out;
                }
              } 
        }
        &-carousel.owl-loaded {
            display: flex;
            justify-content: center;
            padding-bottom: 10rem;
            @include media-query(xl) {
                padding-bottom: 0;
            }
            .owl-nav {
                display: flex;
                justify-content: space-between;
                position: absolute;
                bottom: 85px;
                width: 250px;
    
                button:focus{outline:none !important;}
    
                .carousel-numbers {
                    position: absolute;
                    left: 82px;
                    font-size: 2rem;
                }
            }
            .owl-next,
            .owl-prev {
                span {
                    display: none;
                }
                &:before {
                    display: block;
                    content: ' ';
                    background-image: url('../assets/carousel-arrow-right.svg');
                    background-size: 50px 50px;
                    background-repeat: no-repeat;
                    height: 50px;
                    width: 50px;
                }
            }
            .owl-prev:before {
                display: block;
                content: ' ';
                background-image: url('../assets/carousel-arrow-left.svg');
                background-size: 50px 50px;
                background-repeat: no-repeat;
                height: 50px;
                width: 50px;
            }
        }
        &__work-headline {
            font-size: 3rem;
            text-shadow: 0 0 2px black;
            text-transform: uppercase;
            margin: 0;
            color: $lightblue;
        }
        &-carousel {
            height: 100%;
        }
        
        &__slide-title,
        &__work-headline {
            text-align: center;
        }
    }
    .animation-container {
        line-height: 0;
        &.half {
            width: 40%;
            display: inline-block;
            margin: 1rem;
        }
    }
}

.skills {
    overflow-y: scroll;
    position: relative;
    &__headline {
        font-size: 3rem;
        text-shadow: 0 0 2px black;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        color: $lightblue;
    }
    &__copy {
        font-size: 1.25rem;
        margin: 0.8rem 0;
        @include media-query(xl) {
            font-size: 1.5rem;
            margin: 1.5rem 0;
        }
        &.plus:before {
            content: url('../assets/shape-plus.svg');
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-right: 1rem;
        }
        &.slash:before {
            content: url('../assets/shape-slash.svg');
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-right: 1rem;
        }
        &.charlie:before {
            content: url('../assets/shape-charliebrown.svg');
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-right: 1rem;
        }
    }
    &__scroll-prompt {
        position: fixed;
        transform: rotate(90deg);
        color: $lightpink;
        font-size: 3rem;
        width: 75px;
        transition: transform .2s cubic-bezier(1, -0.01, 0, 1.01);
        transform-origin: 37.5px 37.5px;
        border-bottom: none !important;
        &.up {
            transform: rotate(-90deg);
        }
        &-container {
            position: absolute;
            width: 75px;
            height: 75px;
            bottom: 8%;
            right: 0;
        }
    }
}

.social {
    &__headline {
        font-size: 3rem;
        text-shadow: 0 0 2px black;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        color: $darkpink;
    }
    &__item {
        font-size: 2.5rem;
        line-height: 4.5rem;
    }
}





  // Financial Advisor styles
.dots-l, .dots-r {
    opacity: 0;
  }
  
  
  .dollar-icon,
  .cross-icon,
  .car-icon,
  .grad-hat-icon,
  .shopping-cart-icon,
  .airplane-icon,
  .monument-icon,
  .leaf-icon {
    opacity: 0;
    visibility: hidden;
  }

  

  .dots-l.dot-1 {
    animation: fadeIn .5s .5s forwards, bounceFlashLeft 4s 1s infinite;
  }
  .dots-l.dot-2 {
    animation: fadeIn .5s .5s forwards, bounceFlashLeft 4s 1.15s infinite;
  }
  .dots-l.dot-3 {
    animation: fadeIn .5s .5s forwards, bounceFlashLeft 4s 1.3s infinite;
  }
  .dots-r.dot-1 {
    animation: fadeIn .5s 1s forwards, bounceFlashRight 4s 1.6s infinite;
  }
  .dots-r.dot-2 {
    animation: fadeIn .5s 1s forwards, bounceFlashRight 4s 1.75s infinite;
  }
  .dots-r.dot-3 {
    animation: fadeIn 1s 1s forwards, bounceFlashRight 4s 1.9s infinite;
  }

  .animations-container {
      svg {
          max-width: 380px;
          @include media-query(xl) {
              max-width: 500px;
          }
      }
  }

  .adv-man__train {
    padding: 1.5rem 0;
    &-1 {
        fill: #01c1d6;
    }
    &-2 {
        fill: none;
        stroke: #fff;
        stroke-miterlimit: 10;
        stroke-width: 4px;
    }
}

.adv-man__machines {
    padding: 1.5rem 0;
    &-1 {
        fill: #fff;
    }
    &-2 {
        fill: #01c1d6;
    }
    &-3 {
        fill: #171636;
    }
}

.adv-man__network {
    padding: 1.5rem 0;
    &-0 {
        fill: #FFFFFF;
    }
    &-1 {
        fill: #333333;
    }
    &-2 {
        fill: #01C1D6;
    }
    &-3 {
        fill: none;
        stroke: #01C1D6;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }
}
.adv-man__platform {
    fill: #333;
}

.adv-man__train-wheel,
.adv-man__gear {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: rotate 10s infinite linear;
}

.adv-man__left-arm {
    -webkit-transform-origin: 18% 82% 0;
    -moz-transform-origin: 18% 82% 0;
    transform-origin: 18% 82% 0;
    transform-box: fill-box;
}

.adv-man__left-arm-mid {
    -webkit-transform-origin: 18% 82% 0;
    -moz-transform-origin: 18% 82% 0;
    transform-origin: 18% 82% 0;
    transform-box: fill-box;
}

.adv-man__left-arm-top {
    -webkit-transform-origin: 5% 5% 0;
    -moz-transform-origin: 5% 5% 0;
    transform-origin: 5% 5% 0;
    transform-box: fill-box;
}

.adv-man__right-arm {
    -webkit-transform-origin: 67% 82% 0;
    -moz-transform-origin: 67% 82% 0;
    transform-origin: 67% 82% 0;
    transform-box: fill-box;
}

.adv-man__right-arm-mid {
    -webkit-transform-origin: 95% 90% 0;
    -moz-transform-origin: 95% 90% 0;
    transform-origin: 95% 90% 0;
    transform-box: fill-box;
}

.adv-man__right-arm-top {
    -webkit-transform-origin: 95% 5% 0;
    -moz-transform-origin: 95% 5% 0;
    transform-origin: 95% 5% 0;
    transform-box: fill-box;
}