main {
    background: url(../assets/bg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-container {
    border: 5px solid #000;
    margin: 0 2rem;
    width: 100%;
    max-width: 1346px;
}

header {
    .header-box {
        width: 50%;
        display: inline-block;
        letter-spacing: 4px;
        &:first-of-type {
            float: left;
        }
    }
    .header-name + hr,
    .header-title + hr {
        border: 5px;
        display: block;
        margin: 0;
        height: 20px;
    }
    .header-name {
        background-color: $lightpink;
        margin: 0;
        color: $blue;
        text-align: center;
        padding: 1rem;
        font-size: 2.5rem;
        & + hr {
            background-color: transparent;
        }
        @include media-query(xl) {
            font-size: 3rem;
        }
        &:hover {
            background-color: $blue;
            color: $lightpink;
        }
    }
    .header-title {
        background-color: $green;
        color: $lightpink;
        text-align: center;
        margin: 0;
        padding: 1rem;
        font-size: 2.5rem;
        border-left: 20px solid $green;
        & + hr {
            background-color: $lightblue;
        }
        @include media-query(xl) {
            font-size: 3rem;
        }
        &:hover {
            background-color: $lightpink;
            color: $green;
            border-left: 20px solid $lightblue;
        }
    }
}

nav {
    background-color: $lightpink;
    width: 50%;
    display: block;
    padding: 1rem 2rem;
    margin-top: -2px;
    position: relative;
    float:left;
    .nav-item {
        cursor: pointer;
        * {
            pointer-events: none;
        }
    }
    .svg-text {
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        position: relative;
        height: 500px;

        li {
            display: inline-block;
            transition: all 250ms ease;
        }


        .self-photo {
            position: absolute;
            width: 150px;
            z-index: 99999;
            img {
                border-radius: 50%;
                border: 10px solid $darkorange;
                padding: 0;
            }
            &.back {
                img {
                    padding: 1rem;
                }
                cursor: pointer;
            }
        }
        .about-me {
            position: absolute;
            width: 125px;
            left: 36%;
            top: 95px;
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 200px;
                left: 25%;
                top: 50px;
            }
        }
        .contact {
            position: absolute;
            width: 125px;
            left: 60%;
            top: 20px;
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 200px;
                left: 60%;
                top: 20px;
            }
        }

        .resume {
            position: absolute;
            width: 75px;
            left: -4%;
            top: 162px;
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 100px;
                left: 2%;
                top: 175px;
            }
        }

        .shape-triangle {
            position: absolute;
            width: 75px;
            right: -2%;
            top: -17px;
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 100px;
                right: -2%;
                top: -17px;
            }
        }

        .shape-squiggle {
            position: absolute;
            width: 100px;
            left: 22%;
            top: 207px;
            transform: rotate(-17deg);
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 130px;
                left: 22%;
                top: 200px;
                transform: rotate(24deg);
            }
        }

        .education {
            position: absolute;
            width: 115px;
            left: 36%;
            top: 290px;
            transform: rotate(24deg);
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 175px;
                left: 45%;
                top: 275px;
            }
        }

        .shape-redbow {
            position: absolute;
            width: 70px;
            left: 64%;
            top: 179px;
            transform: rotate(-17deg);
            transition: all 250ms ease;
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 100px;
                left: 55%;
                top: 160px;
            }
        }

        .portfolio {
            position: absolute;
            width: 101px;
            left: 2%;
            top: 305px;
            transform: rotate(24deg);
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 150px;
                left: 14%;
                top: 305px;
            }
        }

        .social {
            position: absolute;
            width: 125px;
            right: 5%;
            top: 395px;
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 175px;
            }
        }

        .shape-hex {
            position: absolute;
            width: 100px;
            right: -3%;
            top: 249px;
            transform: rotate(24deg);
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 130px;
                right: 5%;
                top: 230px;
            }
        }

        .shape3 {
            position: absolute;
            width: 113px;
            left: 9%;
            top: 410px;
            transform: rotate(24deg);
            svg {
                width: 100%;
            }
            @include media-query(xl) {
                width: 140px;
                left: 40%;
                top: 400px;
            }
        }
        
    }
}

.nav-curtain {
    position: absolute;
    height: 0%;
    display: block;
    background-color: $lightblue;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .active-nav-item {
        opacity: 0;
        font-size: 2rem;
        letter-spacing: 5px;
        color: $white;
        text-shadow: 0px 0px 2px #000;
        text-transform: uppercase;
        &.is-active {
            animation: fadeIn 250ms ease forwards;
        }
        @include media-query(xl) {
            font-size: 5rem;
        }
    }
    &.curtain-up {
        height: 100%;
    }
}

.about-me-1 {
    fill:#fecc3a;
}
.contact-1 { 
    fill:#c5b5e3;
}
.triangle-1 { 
    fill:#d2d058;
}
.resume-1{fill:#f59236;}
.shape2-1{fill:#81c26b;}
.education-1{fill:#6baae3;}
.redbow-1{fill:#ec4c30;}
.portfolio-1{fill:#d2d058;}
.shape-hex-1{fill:#e9a8ca;}
.social-1 {fill:#ec4c30;}
.shape3-1{fill:#97ddc9;}

.content {
    width: 50%;
    display: inline-block;
    float: right;
    margin-top: -2px;

    .content-container {
        height: 564px;
        background-color: #c3d7ea;
        padding: 1rem 2rem;
        overflow: hidden;
    }

    .content-block {
        display: none;
        width: 100%;
        height: 100%;
        line-height: 1.4;
        a {
            color: inherit;
            border-bottom: 5px solid $darkpink;
        }

        &.is-active {
            display: inline-block;
            &[data-name="resume"] {
                margin: 16px 0;
            }
        }

        &__headline {
            text-transform: uppercase;
            color: #81c26b;
            text-shadow: 0px 0px 2px black;
            font-size: 4.5rem;
            margin-top: 0;
        }
        .email,
        .phone,
        .address {
            font-size: 2rem;
            a {
                color: inherit;
                border-bottom: 5px solid $lightpink;
            }
        }
        .resume-btn {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 10px solid $lightblue;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 5rem;
            color: $lightblue;
            text-shadow: 0 0 2px black;
        }
        .resume-copy {
            font-size: 5rem;
            color: $lightblue;
            text-shadow: 0 0 2px black;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .about-carousel {
        position: relative;
        height: 100%;
        // display: none;
        // justify-content: center;
        &.owl-loaded {
            display: flex;
            justify-content: center;
            &.is-active {
                display: flex;
            }
        }
        .owl-carousel.loading{

            display:none;
           
           }
        .about-headline {
            font-size: 3rem;
            text-shadow: 0 0 2px #000;
            text-transform: uppercase;
            color: $darkpink;
        }
        .about-img {
            width: 200px;
            border-radius: 50%;
            margin: 0 auto;

            &.grow-img {
                transform: scale(2);
                z-index: 1000;
            }
        }
        .young-me {
            border: 10px solid $darkpink;
        }
        .seattle {
            background-color: $green;
            padding: 5px;
            border: 10px solid $blue;
        }
        .dog {
            border: 10px solid $red;
        }
        .building {
            border: 10px solid $blue;
        }
        .owl-item {
            li {
                text-align: center;
            }
            .about-copy {
                font-size: 2rem;
            }
        }
        .owl-nav {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 20px;
            width: 250px;

            button:focus{outline:none !important;}

            .carousel-numbers {
                position: absolute;
                left: 82px;
                font-size: 2rem;
            }
        }
        .owl-next,
        .owl-prev {
            width: 50px;
        }
    }
}

@keyframes fadeIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  }

@keyframes curtainDown {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

.curtain-down {
    animation: curtainDown 250ms 250ms forwards;
}

@keyframes curtainUp {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

.curtain-up {
    animation: curtainUp 250ms forwards;
}

@keyframes slideHrLeft {
    from {
      transform: translateX(0)
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  .slide-hr-left {
    animation: slideHrLeft 250ms forwards;
  }

  @keyframes slideHrRight {
    from {
      transform: translateX(-100%)
    }
  
    to {
      transform: translateX(0%);
    }
  }
  
  .slide-hr-right {
    animation: slideHrRight 250ms forwards;
  } 