@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

@keyframes curtainDown {
  from {
      height: 0%;
  }

  to {
      height: 100%;
  }
}

.curtain-down {
  animation: curtainDown 250ms 250ms forwards;
}

@keyframes curtainUp {
  from {
      height: 100%;
  }

  to {
      height: 0%;
  }
}

.curtain-up {
  animation: curtainUp 250ms forwards;
}

@keyframes slideHrLeft {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-100%);
  }
}

.slide-hr-left {
  animation: slideHrLeft 250ms forwards;
}

@keyframes slideHrRight {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(0%);
  }
}

.slide-hr-right {
  animation: slideHrRight 250ms forwards;
} 

@keyframes descriptionPopUp {
  from {
    height: 0;
  }

  to {
    height: 100px;
  }
}

//dots animations
@keyframes bounceFlashLeft {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
    fill: #8DD4E0;
  }
  10% {
    transform: translateY(-10px);
    fill: #ffffff;
  }
  15% {
    transform: translateY(0px);
    fill: #8DD4E0;
  }
  25% {
    transform: translateY(0px);
    fill: #8DD4E0;
  }
  30% {
    transform: translateY(-10px);
    fill: #ffffff;
  }
  35% {
    transform: translateY(0);
    fill: #8DD4E0;
  }
  100% {
    transform: translateY(0);
    fill: #8DD4E0;
  }
}

@keyframes bounceFlashRight {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
    fill: #8DD4E0;
  }
  45% {
    transform: translateY(-10px);
    fill: #ffffff;
  }
  50% {
    transform: translateY(0px);
    fill: #8DD4E0;
  }
  60% {
    transform: translateY(0px);
    fill: #8DD4E0;
  }
  65% {
    transform: translateY(-10px);
    fill: #ffffff;
  }
  70% {
    transform: translateY(0);
    fill: #8DD4E0;
  }
  100% {
    transform: translateY(0);
    fill: #8DD4E0;
  }
}

@keyframes smokeTravel {
  0% {
    text-shadow: 200px 0px 20px transparent;
  }
  50% {
      text-shadow: 0 0 20px black;
  }
  100% {
    text-shadow: -200px 0px 20px black;
  }
}