//Colors

$lightpink: #f4dff0;
$white: #ffffff;
$green: #81c26b;
$red: #ec4c30;
$gold: #fecc3a;
$chartreuse: #d2d058;
$blue: #6baae3;
$puke: #c19f3a;
$darkpink: #e9a8ca;
$orange: #f1bb95;
$purple: #c2b6e0;
$darkorange: #f59236;
$lightblue: #c3d7ea;