<!-- ****** NETWORK SVG ****** -->
                                <div class="animation-container bg-pink">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                      viewBox="0 0 509.8 350" style="enable-background:new 0 0 509.8 350;" xml:space="preserve" class="adv-man__network">
                                      <g id="Animation_4d" transform="translate(9087.766 -809.473)">
                                        <rect id="Rectangle_4728" x="-8910" y="809.5" class="adv-man__network-0" width="153.7" height="98.9"/>
                                        <path id="Path_11822" class="adv-man__network-0" d="M-8740.9,951.7h-184.6c-2.8,0-5-2.2-5-5c0-0.8,0.2-1.6,0.6-2.4l19.8-36.9h153.7l19.8,36.9
                                          c1.4,2.4,0.6,5.4-1.8,6.7C-8739.1,951.5-8740,951.7-8740.9,951.7z"/>
                                        <rect id="Rectangle_4729" x="-8902.5" y="817" class="adv-man__network-1" width="139.2" height="84.5"/>
                                        <rect id="Rectangle_4722" x="-9072.5" y="1053.5" class="adv-man__network-0" width="114.8" height="73.9"/>
                                        <path id="Path_11817" class="adv-man__network-0" d="M-8946.2,1159.5H-9084c-2.1,0-3.7-1.7-3.7-3.7c0-0.6,0.2-1.2,0.5-1.8l14.8-27.6h114.8
                                          l14.8,27.6c1,1.8,0.3,4.1-1.5,5.1C-8944.9,1159.3-8945.5,1159.5-8946.2,1159.5z"/>
                                        <rect id="Rectangle_4723" x="-9067" y="1059.2" class="adv-man__network-1" width="103.9" height="63.1"/>
                                        <rect id="Rectangle_4724" x="-8890.2" y="1053.5" class="adv-man__network-0" width="114.8" height="73.9"/>
                                        <path id="Path_11818" class="adv-man__network-0" d="M-8763.9,1159.5h-137.8c-2.1,0-3.7-1.7-3.7-3.7c0-0.6,0.2-1.2,0.5-1.8l14.8-27.6h114.8
                                          l14.8,27.6c1,1.8,0.3,4.1-1.5,5.1C-8762.7,1159.3-8763.3,1159.5-8763.9,1159.5z"/>
                                        <rect id="Rectangle_4725" x="-8884.7" y="1059.2" class="adv-man__network-1" width="103.9" height="63.1"/>
                                        <rect id="Rectangle_4726" x="-8708.1" y="1053.5" class="adv-man__network-0" width="114.8" height="73.9"/>
                                        <path id="Path_11819" class="adv-man__network-0" d="M-8581.7,1159.5h-137.8c-2.1,0-3.7-1.7-3.7-3.7c0-0.6,0.2-1.2,0.5-1.8l14.8-27.6h114.8
                                          l14.8,27.6c1,1.8,0.3,4.1-1.6,5.1C-8580.5,1159.4-8581.1,1159.5-8581.7,1159.5z"/>
                                        <rect id="Rectangle_4727" x="-8702.4" y="1059.2" class="adv-man__network-1" width="103.9" height="63.1"/>
                              
                                        <!-- NETWORK CIRCLES -->
                                        <circle id="Ellipse_233" class="adv-man__network-2 network__circle" cx="-8833.1" cy="972.4" r="6.3"/>
                                        <circle id="Ellipse_230" class="adv-man__network-2 network__circle" cx="-8832.7" cy="1028.3" r="6.3"/>
                                        <circle id="Ellipse_232" class="adv-man__network-2 network__circle" cx="-8652.1" cy="1028.3" r="6.3"/>
                                        <circle id="Ellipse_231" class="adv-man__network-2 network__circle" cx="-9014.2" cy="1028.3" r="6.3"/>
                                        <!-- /NETWORK CIRCLES -->
                              
                                      </g>
                              
                                      <!-- LONG NETWORK LINE -->
                                      <polyline class="adv-man__network-3 network__long-line" points="73.6,220.4 73.6,190.9 435.7,190.9 435.7,218.9 "/>
                                      <!-- /LONG NETWORK LINE -->
                              
                                      <!-- SHORT NETWORK LINE -->
                                      <line class="adv-man__network-3 network__short-line" x1="254.6" y1="161.4" x2="254.6" y2="220.4"/>
                                      <!-- /SHORT NETWORK LINE -->
                              
                                    </svg>
                                  </div>
                                  <!-- ****** /NETWORK SVG ****** -->