<article class="content-block" data-name="about-me">
    <ul class="about-carousel">
        <li>
            <img class="about-img young-me" src="assets/me-young.jpg" />
            <h2 class="about-headline">Y'ALL</h2>
            <p class="about-copy">I grew up in a small town in South&nbsp;Carolina.</p>
        </li>
        <li>
            <img class="about-img seattle" src="assets/seattle.png" />
            <h2 class="about-headline">Seahawks</h2>
            <p class="about-copy">I lived in Seattle for 10 years <br/>and got obsessed with football.</p>
        </li>
        <li>
            <img class="about-img dog" src="assets/dog.jpg" />
            <h2 class="about-headline">Woof</h2>
            <p class="about-copy">I have a dog named <a href="http://instagram.com/stanley_handsome_man" target="_blank">Stanley</a>. <br/>He's German but he loves to french.</p>
        </li>
        <li>
            <img class="about-img building" src="assets/building.jpg" />
            <h2 class="about-headline">Buildings</h2>
            <p class="about-copy">I have a <a href="http://instagram.com/mmmmmmm__buildings" target="_blank">casual obsession</a> with cities and architecture.</p>
        </li>
        <li>
            <h2 class="about-headline">I might go blind after looking at these bright colors for so long.</h2>
        </li>
    </ul>
</article>