<article class="content-block" data-name="contact">
    <h2 class="content-block__headline">I want to hear from you!</h2>
    <p class="email"><a href="mailto:@whkdev@gmail.com">whkdev@gmail.com</a></p>
    <p class="phone"><a href="tel:2068329943">206-832-9943</a></p>
    <p class="address">I live in Crown Heights, Brooklyn.</p>
</article>