<header class="clearfix">
    <div class="header-box">
        <h1 class="header-name">William Knight</h1>
        <hr/>
    </div>
    <div class="header-box">
        <h1 class="header-title">Web Developer</h1>
        <hr/>
    </div>
</header>