<article class="content-block" data-name="portfolio">
                          <h2 class="portfolio__work-headline">Website</h2>
                          <ul class="portfolio-carousel">
                            <li class="portfolio-carousel__slide clearfix" data-work="website">
                              <a href="https://valleyjoist.com/" target="_blank"><img src="assets/portfolio-vj.jpg" /></a>
                              <div class="portfolio__work-overlay">
                                <p>Website with a custom WordPress theme for a joist and deck manufacturer.</p>
                              </div>
                            </li>
                            <li class="portfolio-carousel__slide clearfix" data-work="website">
                              <a href="https://appetiteapp.chubb.com/" target="_blank"><img src="assets/portfolio-appetite.jpg" /></a>
                              <div class="portfolio__work-overlay">
                                <p>React web app built to give an overview of what areas of risk Chubb is best suited to write by categorizing risks into categories.</p>
                              </div>
                            </li>
                            <li class="portfolio-carousel__slide clearfix" data-work="website">
                                <a href="https://hiramcohen.com/" target="_blank"><img src="assets/portfolio-hcs.jpg" /></a>
                                <div class="portfolio__work-overlay">
                                  <p>Website with a custom WordPress theme for a New York based insurance company.</p>
                                </div>
                              </li>
                              <li class="portfolio-carousel__slide clearfix" data-work="email">
                                <a href="email-ws.html" target="_blank"><img src="assets/email-ws-1.jpg" /></a>
                                <div class="portfolio__work-overlay">
                                  <p>Fully responsive & tested hand-coded HTML email for a luxury cruise ship line.</p>
                                </div>
                              </li>
                              <li class="portfolio-carousel__slide clearfix" data-work="email">
                                <a href="email-chubb.html" target="_blank"><img src="assets/email-chubb-1.jpg" /></a>
                                <div class="portfolio__work-overlay">
                                  <p>Fully responsive & tested hand-coded HTML email for an insurance company</p>
                                </div>
                              </li>
                              <li class="portfolio-carousel__slide clearfix" data-work="animations">
                                <span class="scroll-prompt">scroll down</span>
                                {% include "animations/train.twig" %}
                                {% include "animations/machines.twig" %}
                                {% include "animations/network.twig" %}
                                {% include "animations/bubbles.twig" %}
                                {% include "animations/convo.twig" %}
                              </li>
                              
                          </ul>
                      </article>