<!-- RESUME SECTION -->
<article class="content-block" data-name="resume">
    <a href="assets/resume.pdf" target="_blank">
        <div class="resume-btn">CV</div>
        <h2 class="resume-copy">Click for PDF</h2>
    </a> 
</article>
<!-- /RESUME SECTION -->