<article class="content-block skills" data-name="skills">
    <h2 class="skills__headline" id="dev">Development</h2>
    <p class="skills__copy plus">JavaScript</p>
    <p class="skills__copy plus">jQuery</p>
    <p class="skills__copy plus">WordPress custom themes</p>
    <p class="skills__copy plus">React</p>
    <p class="skills__copy plus">CSS/SASS</p>
    <p class="skills__copy plus">Responsive HTML email</p>
    <p class="skills__copy plus">Grunt/Gulp</p>

    <h2 class="skills__headline" id="design">Design</h2>
    <p class="skills__copy slash">XD</p>
    <p class="skills__copy slash">Photoshop</p>
    <p class="skills__copy slash">InVision</p>

    <h2 class="skills__headline">Other</h2>
    <p class="skills__copy charlie">Git</p>
    <p class="skills__copy charlie">Browserstack</p>
    <p class="skills__copy charlie">Litmus & Email on Acid</p>
    <div class="skills__scroll-prompt-container">
        <a href="#design" class="skills__scroll-prompt">
            <img src="assets/arrow-down.svg"/>
        </a>
    </div>
</article>