<article class="content-block" data-name="social">
    <h2 class="social__headline">TIME TO SNOOP</h2>
    <ul>
        <li class="social__item"><a target="_blank" href="https://www.instagram.com/3eleven4twenty60nine/">ME</a></li>
        <li class="social__item"><a target="_blank" href="https://www.instagram.com/stanley_handsome_man/">DOG</a></li>
        <li class="social__item"><a target="_blank" href="https://www.linkedin.com/in/williamiscoding/">LINKEDIN</a></li>
        <li class="social__item"><a target="_blank" href="https://www.instagram.com/mmmmmmm__buildings/">BUILDINGS</a></li>
    </ul>
</article>